$BG      : #161617;
$FG      : #C8C7CD;
$GREEN   : #90B995;
$CYAN    : #85BAB2;
$BLUE    : #92B3D5;
$PURPLE  : #ACA1CF;
$MAGENTA : #E29EDB;
$RED     : #B33F42;
$ORANGE  : #937771;
$YELLOW  : #E4B361;
$GREY    : #696874;



.btn-debug {
  border: 1px dashed red;
}

.hidden {
  font-size: 0;
  opacity: 0;
}

.hidden_slider {
  opacity: 0;
  background: transparent;
}

.icon {
  font-family: "Phosphor";
  font-size: 32px;
}

.battery {

  &_charging {
    color: green;
  }

  &_warning {
    color: red;
  }
}

.test {
  padding: 10px;
  background: transparent;
}
