$BG      : #000000; //#161617;
$FG      : #C8C7CD;
$GREEN   : #90B995;
$CYAN    : #85BAB2;
$BLUE    : #92B3D5;
$PURPLE  : #ACA1CF;
$MAGENTA : #E29EDB;
$RED     : #B33F42;
$ORANGE  : #C6AAA4;
$YELLOW  : #E4B361;
$GREY    : #696874;

.hidden {
  font-size: 0;
  opacity: 1;
}

.icon {
  color: $ORANGE;
  font-family: "Phosphor";
  font-size: 18px;
}

.bar {
  background: $BG;
  color: white;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $ORANGE;
}

.bar__btn {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: 0;
  transition: 0.135s;

  &:hover {
    background: rgba($ORANGE, 0.2);

    .icon {
      color: rgba($FG, 0.88);
    }
  }

  &--open {
    color: #FFFFFF;
    background: #323234;
  }
}

.bar__custom-revealer {
  border-right: 1px solid $ORANGE;
}

.bar__custom-slider {
  padding-right: 10px;
  color: $ORANGE;
  font-family: "Iosevka Nerd Font";
  letter-spacing: 1px;

  &--open {
    background: #323234;
  }

  &-ascii {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.bar__mode {
  padding: 0 8px;
  color: #000000;

  &-lbl {
    font-family: "JetBrainsMono Nerd Font";
  }

  &--normal {
    background: $ORANGE;
  }

  &--tabler {
    background: $BLUE;
  }

  &--dock {
    background: $GREEN;
  }
}

.hidden_slider {
  opacity: 0;
  background: transparent;
}

.bar__battery {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: $ORANGE;

  &-icon {
    font-size: 22px;
  }

  &--charging {
    color: $GREEN;
  }

  &--warning {
    color: $RED;
  }
}

.bar__kb-brightness {
  border-right: 1px solid $ORANGE;
}
