window#waybar {
    border-top: 2px solid #937771;
    border-bottom: 2px solid #937771;
    background-color: #000000;
    font-family: 'JetBrainsMono Nerd';
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0;
}

.modules-left,
.modules-right {
    font-family: 'JetBrainsMono';
    font-size: 16px;
    color: #937771;
}

.modules-left {
    font-size: 18px;
    padding-right: 7px;
    margin-left: 0;
}

.modules-right {
    padding-left: 7px;
}

#custom-mode {
    padding: 0 7px;
    color: #000000;
    font-weight: bold;
    background: #937771;
}

#custom-fn-keys {
    padding: 0 12px;
    border-right: 1px solid #937771;
}

#custom-keyboard-brightness {
    padding: 0 12px;
    border-right: 1px solid #937771;
}

#custom-fn-keys.on {
    color: #937771;
}

#custom-fn-keys.off {
    color: #302E32;
}

#network {
    padding: 0 12px;
    border-left: 1px solid #937771;
}

#battery {
    padding: 0 12px;
    border-left: 1px solid #937771;
}

#battery.warning {
    color: #E4B361;
}

#battery.critical {
    color: #B33F42;
}

#clock {
    padding: 0 7px 0 10px;
    color: #000000;
    font-weight: bold;
    background: #937771;
}

#g_backlight {
    padding: 0 10px 0 16px;
    border-right: 1px solid #937771;
}

#g_pulseaudio {
    padding: 0 10px 0 16px;
    border-right: 1px solid #937771;
}

#custom-middle {
    font-size: 14px;
    color: #FFFFFF;
}

#workspaces button.persistent {
    color: #C8C7CD;
    font-size: 14px;
    font-family: 'Метаданные';
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}
