@use "../colors.scss" as *;


.custom-slider {
  font-size: 24px;

  &-ascii {
    letter-spacing: 4px;
  }
}

.bar {
  padding: 8px 12px;
  color: $black;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 32px;
  background: $grey;
  background-image: linear-gradient(90deg, $grey 90%, $orange 100%);
  border: 1px solid;
  border-color: $dark-surface;

  &--dark {
    color: $grey;
    background: $black;
    border-color: $grey;
    background-image: linear-gradient(90deg, $black 80%, rgba($orange, 0.2) 95%);
  }

  &__clock {
  }

  &__btn-icon {
    font-family: "Phosphor";
  }
}
